{% extends 'base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="main-content container-fluid px-4">
            <h1 class="mt-4">Welcome
                {% if request.user.name %}{{request.user.name}}{% else %}{{request.user}}{%endif%}
            </h1>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card text-center bg-primary text-white mb-4">
                      
                    </div>
                </div>
            </div> 
        
            <h1>Appointments</h1>
            <div class="d-flex flex-row-reverse m-2 p-2">
                <button type="button" id="add_appointment_btn" class="btn btn-success m-1" data-togle="modal"
                    data-target="#addAppointment">Add Appointment</button>
            </div>
            <br>
            <h2>    </h2>
            <input type="text" class="table-filter" data-table="order-table" placeholder="Appointments Search .." />
            
            <table class="order-table table" class="table table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Note</th>
                        <th scope="col">Therapist</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <!-- TODO: redirect user to appointment page -->
                        <th scope="row"><a type="button" href="{% url 'kshapp:appointment-detail' appointment.id%}" class="text-info text-decoration-none">{{appointment.date}}</a></th>
                        <td>{{appointment.time}}</td>
                        <td>{{appointment.patient}}</td>
                        <td>{{appointment.note}}</td>
                        <td>{{appointment.therapist}}</td>
                        <td>{{appointment.status}}</td>
                        <td class="text-center">
                            <form id="csrf_appointment_form" class="d-none">
                                {% csrf_token %}
                            </form>
                            <button type="button" data-appointID="{{appointment.id}}"  class="btn btn-outline-success mx-2 col edit_appointment_btn"><i class="fas fa-edit"></i> Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="modal fade" id="addAppointment" >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Create Appointment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'kshapp:new-appointment' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                            {{ appoint_form.as_p }}
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalEditAppoint" >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Edit Appointment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="editAppointForm" method="POST" action="{% url 'kshapp:edit-appoint' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="appointID" name="appointID" value="">
                            <div id='edit_appoint_body' class="modal-body">

                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock %}

{% block afterload %}
<script>
$('#add_appointment_btn').click(function(){
    $('#addAppointment').modal('show');
    $('#id_date').attr('type', 'date');
    $('input').each(function(){
        $(this).addClass('form-control')
    })
    $('select').each(function(){
        $(this).addClass('form-control')
    })
})

function editAppointment(patientID){
    token = $("#csrf_appointment_form").find('input[name=csrfmiddlewaretoken]').val()
    $.get({
        'url': '{% url "kshapp:edit-appoint" %}',
        'data': {
            'csrfmiddlewaretoken': token,
            'appointID': appointID
        },
        'success': function (response) {
            $('#edit_appoint_body p').remove()
            response = JSON.parse(response);
            if (response.status == '1') {
                $('#modalEditAppoint').modal('show');
                $.when($('#edit_appoint_body').append(JSON.parse(response.data))).then(
                    $('#modalEditAppoint input').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $('#modalEditAppoint select').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $('#modalEditAppoint textarea').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $('#modalEditAppoint #id_date').attr('type', 'date'),
                    $('#editAppointForm input[name="appointID"]').val(appointID)
                )

            } else {
                alertPopup('Fialed', 'Failed to get appointment detail', 'danger')
            }
        },
        'error': function () {
            alert("Server Error");
        }
    })
}

$('.edit_appointment_btn').on('click', function(){
    appointID = $(this).attr('data-appointID')
    editAppointment(appointID)
})

</script>

<script>
    (function() {
        'use strict';
    
    var TableFilter = (function() {
     var Arr = Array.prototype;
            var input;
      
            function onInputEvent(e) {
                input = e.target;
                var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
                Arr.forEach.call(table1, function(table) {
                    Arr.forEach.call(table.tBodies, function(tbody) {
                        Arr.forEach.call(tbody.rows, filter);
                    });
                });
            }
    
            function filter(row) {
                var text = row.textContent.toLowerCase();
           //console.log(text);
          var val = input.value.toLowerCase();
          //console.log(val);
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }
    
            return {
                init: function() {
                    var inputs = document.getElementsByClassName('table-filter');
                    Arr.forEach.call(inputs, function(input) {
                        input.oninput = onInputEvent;
                    });
                }
            };
     
        })();
    
      /*console.log(document.readyState);
        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
          console.log(document.readyState);
                TableFilter.init();
            }
        }); */
      
     TableFilter.init(); 
    })();
</script>
{% endblock afterload %}
