

{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="main-content container-fluid px-4">
            
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card text-center bg-primary text-white mb-4">
                      
                    </div>
                </div>
            </div> 

             <!-- Fillters buttons -->
            <!-- Example split danger button -->

              <br>
              <br>
           
              <!-- End Fillters buttons -->
              <form method = "get"class="form-inline justify-content-center">
                <div class="col-10">
                  {{ filter.form.somefield.label_tag }}
                  {% render_field filter.form.somefield class="form-select form-select-sm" %}
              </div>
                <div class="form-group">
                  <div  style="background-color:#fff8dc;">
                  <div style=" background-color:#f0e68c;
                    width: 100%;
                    padding: 12px 20px;
                    margin: 20px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                   " >
                  {{myFilter.form.as_p}}
                  </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
                <div  style=" margin: 20px 0; ">
              <button style = "background-color:#32cd32;" onclick="ExportToExcel('xlsx')">Export to excel</button>
              <p>
                <input type="button" value="Print Table" onclick="myApp.printTable()" />
            </p>
               </div>
            <div class="container">
                <h2>Reports</h2>
               <br>           
                <table class="table table-bordered" id="tbl_exporttable_to_xls">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Patient</th>
                      <th>Therapist</th>
                      <th>Section</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for appointment in appointments %}
                    <tr>
                      <td>{{appointment.date}}</td>
                      <td>{{appointment.time}}</td>
                      <td>{{appointment.patient}}</td>
                      <td>{{appointment.therapist}}</td>
                      <td>{{appointment.service}}</td>
                      <td>{{appointment.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                {% if appointments.has_other_pages %}
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        {% if appointments.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ appointments.previous_page_number }}"" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        </li>
                        {% endif %}
                        {% for i in appointments.paginator.page_range %}
                            {% if appointments.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if appointments.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ appointments.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                                </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                
              </div>
        
        </div>
          
    </main>
</div>



<script>

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

</script>
<script>
  var myApp = new function () {
      this.printTable = function () {
          var tab = document.getElementById('tbl_exporttable_to_xls');

          var style = "<style>";
              style = style + "table {width: 100%;font: 17px Calibri;}";
              style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
              style = style + "padding: 2px 3px;text-align: center;}";
              style = style + "</style>";

          var win = window.open('', '', 'height=700,width=700');
          win.document.write(style);          //  add the style.
          win.document.write(tab.outerHTML);
          win.document.close();
          win.print();
      }
  }
</script>
{% endblock %}