{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div id="layoutSidenav_content">
    <main>
        <div class="main-content container-fluid px-4">
            <h1 class="mt-4">Section</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="innercontent">
                <div class="card" style="width: 40rem;">
                    <img class="card-img-top" src="{% static 'images/R.jfif' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Section Name : {{section}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <br>
                    </div>
                  </div>
                
            </div>
            </div>
           
        </div>
    </main>
</div>
{% endblock %}
