{% extends 'base.html' %}

{% block content %}
 <div id="layoutSidenav_content">
    <main>
        <div class="main-content container-fluid px-4">
            <h1 class="mt-4">Section</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="innercontent">
                <p >TODO: create section detail here</p>
                <h1>{{section}}</h1>
            </div>
            </div>
           
        </div>
    </main>
</div>
{% endblock %}
