{% extends 'base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="main-content container-fluid px-4">
            <h1 class="mt-4">Welcome
                {% if request.user.name %}{{request.user.name}}{% else %}{{request.user}}{%endif%}
            </h1>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card text-center bg-primary text-white mb-4">
                      
                    </div>
                </div>
            </div> 
        
            <h1>Therapists</h1>
            <div class="d-flex flex-row-reverse m-2 p-2">
                <button type="button" id="add_therapist_btn" class="btn btn-success m-1" data-togle="modal"
                    data-target="#addTherapist">Add Therapist</button>
            </div>
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for therapist in therapists %}
                    <tr>
                        <!-- TODO: redirect user to therapist page -->
                        <th scope="row"><a type="button" href="{% url 'kshapp:therapist-detail' therapist.id%}" class="text-info text-decoration-none">{{therapist.id}}</a></th>
                        <td>{{therapist.name}}</td>
                        <td>{{therapist.email}}</td>
                        <td>{{therapist.phone}}</td>
                        <td class="text-center">
                            <form id="csrf_therapist_form" class="d-none">
                                {% csrf_token %}
                            </form>
                            <button type="button" data-therapistID="{{therapist.id}}"  class="btn btn-outline-success mx-2 col edit_therapist_btn"><i class="fas fa-edit"></i> Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="modal fade" id="addTherapist" >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Create Therapist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'kshapp:new-therapist' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                            {{ therapist_form.as_p }}
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalEditTherapist" >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Edit Therapist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="editTherapistForm" method="POST" action="{% url 'kshapp:edit-therapist' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="therapistID" name="therapistID" value="">
                            <div id='edit_therapist_body' class="modal-body">

                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock %}

{% block afterload %}
<script>
$('#add_therapist_btn').click(function(){
    $('#addTherapist').modal('show');
    $('#id_date').attr('type', 'date');
    $('input').each(function(){
        $(this).addClass('form-control')
    })
    $("input[type='checkbox']").each(function(){
        $(this).removeClass('form-control')
        $(this).addClass('form-check-input')
    })

    $('select').each(function(){
        $(this).addClass('form-control')
    })
})

function editTherapist(patientID){
    token = $("#csrf_therapist_form").find('input[name=csrfmiddlewaretoken]').val()
    $.get({
        'url': '{% url "kshapp:edit-therapist" %}',
        'data': {
            'csrfmiddlewaretoken': token,
            'therapistID': therapistID
        },
        'success': function (response) {
            $('#edit_therapist_body p').remove()
            response = JSON.parse(response);
            if (response.status == '1') {
                $('#modalEditTherapist').modal('show');
                $.when($('#edit_therapist_body').append(JSON.parse(response.data))).then(
                    $('#modalEditTherapist input').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $('#modalEditTherapist select').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $('#modalEditTherapist textarea').each(function(){
                        $(this).addClass('form-control')
                    }),
                    $("input[type='checkbox']").each(function(){
                        $(this).removeClass('form-control')
                        $(this).addClass('form-check-input')
                    }),
                    $('#modalEditTherapist a').css('display', 'block'),
                    $('#modalEditTherapist #id_date').attr('type', 'date'),
                    $('#editTherapistForm input[name="therapistID"]').val(therapistID)
                )

            } else {
                alertPopup('Fialed', 'Failed to get appointment detail', 'danger')
            }
        },
        'error': function () {
            alert("Server Error");
        }
    })
}

$('.edit_therapist_btn').on('click', function(){
    therapistID = $(this).attr('data-therapistID')
    editTherapist(therapistID)
})

</script>
{% endblock afterload %}
