{% load static %}

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav ">
                    {% if request.session.group == 'therapist' %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:therapist-appointments'%}">
                                <i class="fa fa-calendar"></i> &nbsp; Today Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{% url 'kshapp:therapist-all-appointments'%}"> 
                                <i class="fa-solid fa-users"></i> &nbsp; All appointments</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'kshapp:home'%}"> <i
                                    class="fa-solid fa-gauge"></i> &nbsp; Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:patients'%}"><i
                                    class="fa-solid fa-graduation-cap"></i> &nbsp; Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:sections'%}"> <i
                                    class="fa-solid fa-puzzle-piece"></i> &nbsp; Sections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:appointments'%}"><i class="ml-2 fas fa-table"> </i>
                                &nbsp; Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:therapists'%}"><i
                                    class="fa-solid fa-person-chalkboard"></i> &nbsp; Therapists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kshapp:reports'%}"><i class="ml-2 fab fa-elementor"> </i>
                                
                                &nbsp; Reports</a>
                        </li>
                    </ul>
                    {% endif %}

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{request.user}}
            </div>
        </nav>
    </div>
